<head>
	<meta charset="utf-8">

	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="assets/css/main.css">
	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
	<script>
		// Specify your actual API key here:
		var API_KEY = 'AIzaSyClNfdZIs8di1m0zztluWwmdbAewfQJpqQ';

		// Specify the URL you want PageSpeed results for here:
		var URL_TO_GET_RESULTS_FOR = 'http://kevinreilly.io';
		</script>

		<script>
		var API_URL = 'https://www.googleapis.com/pagespeedonline/v2/runPagespeed?';
		var CHART_API_URL = 'https://chart.apis.google.com/chart?';

		// Object that will hold the callbacks that process results from the
		// PageSpeed Insights API.
		var callbacks = {}

		// Invokes the PageSpeed Insights API. The response will contain
		// JavaScript that invokes our callback with the PageSpeed results.
		function runPagespeed(url) {
		  var s = document.createElement('script');
		  s.type = 'text/javascript';
		  s.async = true;
		  var query = [
		    'url=' + url,
		    'callback=runPagespeedCallbacks',
		    'key=' + API_KEY,
		  ].join('&');
		  s.src = API_URL + query;
		  document.head.insertBefore(s, null);
		}

		// Our JSONP callback. Checks for errors, then invokes our callback handlers.
		function runPagespeedCallbacks(result) {
		  if (result.error) {
		    var errors = result.error.errors;
		    for (var i = 0, len = errors.length; i < len; ++i) {
		      if (errors[i].reason == 'badRequest' && API_KEY == 'yourAPIKey') {
		        alert('Please specify your Google API key in the API_KEY variable.');
		      } else {
		        // NOTE: your real production app should use a better
		        // mechanism than alert() to communicate the error to the user.
		        alert(errors[i].message);
		      }
		    }
		    return;
		  }
		  
		  console.log(result);

		  // Dispatch to each function on the callbacks object.
		  for (var fn in callbacks) {
		    var f = callbacks[fn];
		    if (typeof f == 'function') {
		      callbacks[fn](result);
		    }
		  }
		}

		// Invoke the callback that fetches results. Async here so we're sure
		// to discover any callbacks registered below, but this can be
		// synchronous in your code.
		setTimeout(runPagespeed(URL_TO_GET_RESULTS_FOR), 0);
		</script>

		<script>
		callbacks.displayPageSpeedScore = function(result) {
		  var score = result.score;
		  // Construct the query to send to the Google Chart Tools.
		  var query = [
		    'chtt=Page+Speed+score:+' + score,
		    'chs=180x100',
		    'cht=gom',
		    'chd=t:' + score,
		    'chxt=x,y',
		    'chxl=0:|' + score,
		  ].join('&');
		  var i = document.createElement('img');
		  i.src = CHART_API_URL + query;
		  document.body.insertBefore(i, null);
		};
	</script>
</head>