---
---

@import "bootstrap/bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";

// General Fixes
html {
	font-size:12px;
}
@include media-breakpoint-up(sm){
	html {
		font-size:16px;
	}
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
img {
	max-width:100%;
}
.loading {
	display:none;
}

// Theme Styles
body {
	font-family:"Raleway";
}
h2 {
	margin-top:3.5rem;
}
.jumbotron + .sticky-top {
	//bottom:0;
}
.jumbotron {
	min-height:100vh;
	margin-top:-3.5rem;
	margin-bottom:0;
	color:#fff;
	background-color:$dark;
	background-size:cover;
	background-attachment:fixed;
	h1 {
		margin-top:7rem;
	}
}

// Page Speed Tool
.pagespeed-results {
	display:none;
}

// Nitty Gritty