<script>
  var API_KEY = 'AIzaSyClNfdZIs8di1m0zztluWwmdbAewfQJpqQ';
  var API_URL = 'https://www.googleapis.com/pagespeedonline/v2/runPagespeed?';
  var CHART_API_URL = 'https://chart.apis.google.com/chart?';
  var callbacks = {};
  var runPagespeed = function(url) {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    var query = [
      'url=' + url,
      'callback=runPagespeedCallbacks',
      'key=' + API_KEY,
    ].join('&');
    s.src = API_URL + query;
    document.head.insertBefore(s, null);
  };
  var runPagespeedCallbacks = function(result) {
    if (result.error) {
      var errors = result.error.errors;
      for (var i = 0, len = errors.length; i < len; ++i) {
        if (errors[i].reason == 'badRequest' && API_KEY == 'yourAPIKey') {
          console.log('Please specify your Google API key in the API_KEY variable.');
        } else {
          console.log(errors[i].message);
        }
      }
      return;
    }
    for (var fn in callbacks) {
      var f = callbacks[fn];
      if (typeof f == 'function') {
        callbacks[fn](result);
      }
    }
  };
  callbacks.displayPageSpeedScore = function(result) {
    var score = result.ruleGroups.SPEED.score;
    $('.pagespeed-results').html('<div class="h3">Score: '+ score +'/100</div>');
  };
  callbacks.displayTopPageSpeedSuggestions = function(result) {
    var results = [];
    var ruleResults = result.formattedResults.ruleResults;
    for (var i in ruleResults) {
      var ruleResult = ruleResults[i];
      if (ruleResult.ruleImpact < 0.1) continue;
      results.push({name: ruleResult.localizedRuleName,
                    impact: ruleResult.ruleImpact});
    }
    results.sort(sortByImpact);
    var ul = document.createElement('div');
    for (var i = 0, len = results.length; i < len; ++i) {
      var r = document.createElement('div');
      r.className += 'alert alert-danger';
      r.innerHTML = results[i].name;
      ul.insertBefore(r, null);
    }
    if (ul.hasChildNodes()) {
      document.getElementsByClassName('pagespeed-results')[0].append(ul);
    } else {
      var div = document.createElement('div');
      div.className += 'alert alert-success';
      div.innerHTML = 'No high impact suggestions. Good job!';
      document.getElementsByClassName('pagespeed-results')[0].append(div);
    }
    displayResults();
    /*
    var alerts = $('.pagespeed-results').find('.alert');
    for(var i = 0; i < alerts.length; i++){
      $(alerts[i]).slideDown();
    }
    */
  };
  var sortByImpact = function(a, b){
    return b.impact - a.impact;
  }
  var displayResults = function(){
    $('.loading').fadeOut(function(){
      $('.pagespeed-results').slideDown('slow');
    });
  };

  $('.pagespeed-form').on('submit', function(e){
    e.preventDefault();
    var height = $(this).parent().height();
    $(this).parent().css({'minHeight':height});

    $(this).fadeOut(function(){
      $(this).siblings('.loading').fadeIn();
    });
    
    var test_url = $(this).find('.test_url').val();
    if(!test_url.includes('http')){
      test_url = 'http://'+ test_url;
    }
    runPagespeed(test_url);
  });
</script>